img {
    height: 200px;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: cornsilk;
    display: flexbox;
    text-align:center;
}

.col {
    width: 95%;
    padding: 15px;
    display: flex;
    justify-content:space-evenly
}

#col1 {
    background-color: darkcyan;
    margin-left: 20px;
}

#col2 {
    background-color: darksalmon;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: center;
}

#col3 {
    background-color:gold;
    margin-top: 10px;
    margin-left: 20px;
}

#col2 img {
    margin: 0px 45px;
}

h1 {
    padding-top: 25px;
}

.octo {
    padding: 30px;
}